body {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #fff;
    text-align: center;
}

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    filter: brightness(0.7);
}

#game-container {
    border: 3px solid #f0f;
    padding: 20px;
    background-color: rgba(17, 17, 17, 0.8);
    box-shadow: 0 0 25px #f0f, 0 0 10px #fff inset;
    max-width: 800px;
    width: 100%;
}

#start-screen {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 4em;
    text-shadow: 3px 3px 0px #0ff, -3px -3px 0px #f0f;
    margin-bottom: 40px;
}

#ui-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#ui-container h2 {
    text-shadow: 2px 2px 5px #0ff;
}

#start-button {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5em;
    padding: 15px 30px;
    background: transparent;
    color: #fff;
    border: 3px solid #f0f;
    cursor: pointer;
    box-shadow: 0 0 15px #f0f;
    transition: all 0.3s;
    text-shadow: 1px 1px 5px #fff;
}

#start-button:hover {
    background-color: #f0f;
    color: #000;
    box-shadow: 0 0 25px #f0f, 0 0 10px #fff;
}

#game-canvas {
    background-color: transparent;
    border: 2px solid #0ff;
    box-shadow: 0 0 15px #0ff;
    display: none; /* Initially hidden */
}
